@mixin dark-mode($type:dark-mode, $theme-type:basic){
  $color:'';
  // TODO: 다크모드에 대한 컴포넌트 테스트 할것.
  @if ($theme-type==basic) {

  }
  @if ($type==dark-mode){
    $color: black;
  }
  @if ($type==light-mode){
    $color: white;
  }
}

.wrap {
  &.is-dark {
    @include dark-mode(dark-mode);
  }
  &.is-light {
    @include dark-mode(light-mode);
  }
}
