@mixin dark-mode($type:dark-mode, $theme-type:basic){
  $color:'';
  // TODO: 다크모드에 대한 컴포넌트 테스트 할것.
  // comment: 타입별 변경되는 것이 있을땐 여기에 변수 항상 지정해야 됨
  @if ($type==dark-mode){
    $color: black;
  }
  @if ($type==light-mode){
    $color: white;
  }
}

.wrap {
  &.is-dark {
    @include dark-mode(dark-mode);
  }
  &.is-light {
    @include dark-mode(light-mode);
  }
}
