// *tablet breakpoint
// 학습자 tablet width
$viewport-tablet : 1024;
// 관리자 tablet width
$breakpoints-tablet : 1366;
// pc 1920
$pc-full : 1920;

// *mobile breakpoint
// 학습자 mobile width
// 720 고려중
$breakpoints-mobile : 768;
$only-mobile : 640;
// 관리자 mobile width
$admin-mobile : 768;

// tablet 이미지 시안 height
// $viewport-tablet-height : 768;

// mobile 이미지 시안 width
$viewport-mobile : 720;
// mobile 640 기준 width
$viewport-mobile640 : 640;
// mobile 이미지 시안 height
$viewport-moblie-height : 640;

$mobile-sizes : ('vw-mo180dp':1, // 제플린 180dp
  'vw-mo360':2, // 피그마 360px
  'vw-mo640':3, // 제풀린 640px
);

// * 학습자 모바일, 태블릿
// (학습자) 모바일 650기준
// TODO: 여기에 추가 하기
// @function mobiletype($type){
//   @if ($type==#{map-get($mobile-sizes, 1)}) {
//     $multiple : 4!global;
//     $vw-content: ($viewport-mobile * 0.01) * 1px!global;
//     @return ($multiple, $vw-content);
//   }
//   @else if ($type==#{map-get($mobile-sizes, 2)}) {
//     $multiple : 1!global;
//     $vw-content: (360 * 0.01) * 1px!global;
//     @return ($multiple, $vw-content);
//   }
// }
@function vw-mo($target) {
  // @return targetLength($target, mobiletype(#{map-get($mobile-sizes, 1)}));
  @return targetLength($target, 'vw-mo180dp');
}

@function vw-mo360($target) {
  // @return targetLength($target, mobiletype(#{map-get($mobile-sizes, 2)}));
  @return targetLength($target, 'vw-mo360');
}

@function vw-convert-bg-size-mo($target) {
  @return targetLength($target, 'vw-convert-bg-size-mo');
}

@function vw-mo640($target) {
  $vw-content: ($viewport-mobile640 * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @if($length==1) {
    @return ($target / $vw-content) * 2vw;
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content *2vw);
    $result: append($result, nth($target, 2) / $vw-content *2vw);
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content *2vw);
    $result: append($result, nth($target, 2) / $vw-content *2vw);
    $result: append($result, nth($target, 3) / $vw-content *2vw);
    $result: append($result, nth($target, 2) / $vw-content *2vw);
    @return $result;
  }

  @else if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) / $vw-content *2vw);
    }

    @return $result;
  }
}

// 모바일 가로모드
@function landscape($size, $type, $flag) {
  $result: ();
  $length: length($size);

  @if ($flag=='false') {
    $flags: null !global;
  }

  @if ($flag==true) {
    $flags:  !important !global;
  }

  @if ($type=='vw-mo180dp') {
    $num: 2 !global;
  }

  @if ($type=='vw-mo360') {
    $num: 1 !global;
  }

  @if ($type=='vw-convert-bg-size-mo') {
    $num: 2 !global;
  }

  @if($length==1) {
    @return $size*$num#{$flags};
  }

  @if($length==2) {
    $result: append($result, nth($size, 1) *$num);
    $result: append($result, nth($size, 2) *$num);
    @return $result#{$flags};
  }

  @if($length==3) {
    $result: append($result, nth($size, 1) *$num);
    $result: append($result, nth($size, 2) *$num);
    $result: append($result, nth($size, 3) *$num);
    $result: append($result, nth($size, 2) *$num);
    @return $result#{$flags};
  }

  @if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($size, $i) * $num);
    }

    @return $result#{$flags};
  }
}

@function targetLength($target, $type, $unit:vw) {
  $result: ();
  $length: length($target);

  @if ($type=='vw-mo180dp') {
    $multiple: 4 !global;
    $vw-content: ($viewport-mobile * 0.01) * 1px !global;
  }

  @if($type=='vw-mo360') {
    $multiple: 1 !global;
    $vw-content: (360 * 0.01) * 1px !global;
  }

  @if ($type=='vw-mo640') {
    $multiple: 2 !global;
    $vw-content: ($viewport-mobile640 * 0.01) * 1px !global;
  }

  @if ($type=='vw-convert-bg-size-mo') {
    $multiple: 4 !global;
    $vw-content: ($viewport-mobile * 0.01) * 1px !global;
  }

  @if($length==1) {
    @return ($target / $vw-content) * $multiple * 1#{$unit};
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content * $multiple * 1#{$unit});
    $result: append($result, nth($target, 2) / $vw-content * $multiple * 1#{$unit});
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content * $multiple * 1#{$unit});
    $result: append($result, nth($target, 2) / $vw-content * $multiple * 1#{$unit});
    $result: append($result, nth($target, 3) / $vw-content * $multiple * 1#{$unit});
    $result: append($result, nth($target, 2) / $vw-content * $multiple * 1#{$unit});
    @return $result;
  }

  @else if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) / $vw-content * $multiple * 1#{$unit});
    }

    @return $result;
  }
}



// (학습자) 모바일 650기준 백그라운드 이미지

@function vw-convert-bg-size-mo360($target) {
  $vw-content: (360 * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *1vw);
  $result: append($result, nth($target, 2) / $vw-content *1vw);
  @return $result;
}

@function vw-convert-bg-size-mo640($target) {
  $vw-content: ($viewport-mobile640 * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *2vw);
  $result: append($result, nth($target, 2) / $vw-content *2vw);
  @return $result;
}

// pc full 1920기준
@function vw-convert-pcfull($target) {
  $vw-content: ($pc-full * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @if($length==1) {
    @return ($target / $vw-content) * 1vw;
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 3) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) / $vw-content +vw);
    }

    @return $result;
  }
}

// (학습자) 태블릿 1024기준
@function vw-convert-ta($target) {
  $vw-content: ($viewport-tablet * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @if($length==1) {
    @return ($target / $vw-content) * 1vw;
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 3) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) / $vw-content +vw);
    }

    @return $result;
  }
}

// (학습자) 태블릿 1024기준 백그라운드 이미지
@function vw-convert-bg-size($target) {
  $vw-content: ($viewport-tablet * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *1vw);
  $result: append($result, nth($target, 2) / $vw-content *1vw);
  @return $result;
}

@function vw-convert-bg-size-full($target) {
  $vw-content: ($pc-full * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *1vw);
  $result: append($result, nth($target, 2) / $vw-content *1vw);
  @return $result;
}

// *관리자 모바일, 태블릿
// (관리자) 모바일 768 기준
@function vw-mo-admin($target) {
  $vw-content: ($admin-mobile * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @if($length==1) {
    @return ($target / $vw-content) * 4vw;
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content *4vw);
    $result: append($result, nth($target, 2) / $vw-content *4vw);
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content *4vw);
    $result: append($result, nth($target, 2) / $vw-content *4vw);
    $result: append($result, nth($target, 3) / $vw-content *4vw);
    $result: append($result, nth($target, 2) / $vw-content *4vw);
    @return $result;
  }

  @else if($length==4) {
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) / $vw-content *4vw);
    }

    @return $result;
  }
}

// (관리자) 모바일 768기준 백그라운드 이미지
@function vw-convert-bg-size-mo-admin($target) {
  $vw-content: ($admin-mobile * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *4vw);
  $result: append($result, nth($target, 2) / $vw-content *4vw);
  @return $result;
}

// (관리자) 태블릿 1366기준
@function vw-convert-ta1366($target) {
  $vw-content: ($breakpoints-tablet * 0.01) * 1px;
  $result: ();
  $length: length($target);

  @if($length==1) {
    @return ($target / $vw-content) * 1vw;
  }

  @else if($length==2) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==3) {
    $result: append($result, nth($target, 1) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    $result: append($result, nth($target, 3) / $vw-content +vw);
    $result: append($result, nth($target, 2) / $vw-content +vw);
    @return $result;
  }

  @else if($length==4) {
    
    @for $i from 1 through 4 {
      @if type-of(nth($target, 2)) == string {
        $result : append($result, nth($target, $i));
      }
      @if type-of(nth($target, 4)) == string {
        $result : append($result, nth($target, $i));
      }
      $result: append($result, nth($target, $i) / $vw-content +vw);
    }

    @return $result;
  }
}

// (관리자) 태블릿 1366기준 백그라운드 이미지
@function vw-convert-bg-size1366($target) {
  $vw-content: ($breakpoints-tablet * 0.01) * 1px;
  $result: ();
  $result: append($result, nth($target, 1) / $vw-content *1vw);
  $result: append($result, nth($target, 2) / $vw-content *1vw);
  @return $result;
}


@mixin transform($type, $size, $mode:'ta', $scale:null) {
  @if($mode=='mo') {
    $result-mo: vw-mo($size);

    @media (max-width: ($breakpoints-mobile +'px')) {
      transform: #{$type}#{unquote("(#{$result-mo})")} $scale;

    }
  }

  @if ($mode=='ta') {
    $result-ta: vw-convert-ta($size);

    @media (min-width: $breakpoints-mobile+'px') and (max-width: ($viewport-tablet - 1+'px')) {
      transform: #{$type}#{unquote("(#{$result-ta})")} $scale;

    }

    @media (min-width: ($viewport-tablet+'px')) {
      transform: #{$type}#{unquote("(#{$size})")} $scale;

    }
  }
}

@mixin non-convert($value, $size, $mode:'ta', $type:'false') {
  @if ($mode=='ta') {

    //pc
    @media (min-width: ($breakpoints-mobile +1 +'px')) {
      @if($type=='true') {
        #{$value}: $size !important;
      }

      #{$value} : $size;
    }
  }
}

@mixin vw-convert640($value, $size, $mode:'ta', $type:'false') {
  @if ($mode=='mo') {
    @media (max-width: ($breakpoints-mobile +'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-mo640($size);
      }

      @if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        #{$value}: vw-mo640($size);
      }
    }
  }
}

@mixin m-landscape() {
  @media (max-width: ($breakpoints-mobile +'px')) and (orientation: landscape) {
    @content;
  }
}

@mixin vw-convert360($value, $size, $mode:'mo', $flag:'false') {

  // $point : '720';
  @if ($mode=='mo') {
    @media (max-width: ($breakpoints-mobile +'px')) {

      // @media (max-width: ($point +'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-mo360($size);
      }

      @if(type-of($size)==string) {
        #{$value}: $size;
      }
      @else {
        #{$value}: vw-mo360($size);
      }
    }

    // TODO: 모바일 360 태블릿 768전용 미디어쿼리
    // @media (min-width : ($point+'px')) and (max-width : ($breakpoints-mobile + 'px')) {
    //   #{$value} : $size;
    // }
    @media (max-width: ($breakpoints-mobile +'px')) and (orientation: landscape) {
      @if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        // TODO: Landscape 모드
        #{$value}: landscape($size, 'vw-mo360', $flag);
      }
    }
  }
}

@mixin vw-convertm($value, $size, $mode:'mo', $flag:'false') {

  // $point : '720';
  @if ($mode=='mo') {
    @media (max-width: ($breakpoints-mobile +'px')) {

      // @media (max-width: ($point +'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-mo360($size);
      }

      @if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        #{$value}: vw-mo360($size);
      }
    }

    // TODO: 모바일 360 태블릿 768전용 미디어쿼리
    // @media (min-width : ($point+'px')) and (max-width : ($breakpoints-mobile + 'px')) {
    //   #{$value} : $size;
    // }
    @media (max-width: ($breakpoints-mobile +'px')) and (orientation: landscape) {
      @if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        // TODO: Landscape 모드
        #{$value}: landscape($size, 'vw-mo360', $flag);
      }
    }
  }
}

// @function countLength($target){
//   $result:();
//   $length:length($target);
//   @if($length==1){
//     @return ($target) * 1#{$unit};
//   }
// }

@mixin vw-convert($value, $size, $mode:'ta', $flag:'false') {

  //모바일은 별도의 사이즈
  @if ($mode=='mo') {

    // $only-mobile
    @media (max-width: ($breakpoints-mobile + 'px')) {

      // @media (max-width: ($only-mobile +'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-mo($size);
      }

      @else if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else if($flag==true) {
        #{$value}: vw-mo($size) !important;
      }

      @else {
        #{$value}: vw-mo($size);
      }
    }

    // @media (min-width:($only-mobile + 'px')) and (max-width: ($breakpoints-mobile +'px')) {
    //   #{$value}:countLength($size);
    // }
    //* @media (max-width: ($only-mobile +'px')) and (orientation: landscape){
    @media (max-width: ($breakpoints-mobile +'px')) and (orientation: landscape) {
      @if($value==background-size) {
        @if($flag==true) {
          #{$value}: landscape($size, 'vw-convert-bg-size-mo', $flag:true);
        }

        @else {
          #{$value}: landscape($size, 'vw-convert-bg-size-mo', $flag);
        }
      }

      @else if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {

        // TODO: Landscape 모드
        @if($flag==true) {
          #{$value}: landscape($size, 'vw-mo180dp', $flag:true);
        }

        @else {
          #{$value}: landscape($size, 'vw-mo180dp', $flag);
        }
      }
    }
  }

  //tablet
  @if ($mode=='ta') {
    @media (min-width: $breakpoints-mobile + 1 +'px') and (max-width: ($viewport-tablet - 1+'px')) {
      @if ($value==background-size) {
        // #{$value} : red;
        #{$value}: vw-convert-bg-size($size);
      }

      @else if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        @if($flag=='true') {
          #{$value}: vw-convert-ta($size) !important;
        }

        @else {
          #{$value}: vw-convert-ta($size);
        }

        // #{$value} : $size;
      }
    }

    //pc
    @media (min-width: ($viewport-tablet+'px')) {
      @if($flag=='true') {
        #{$value}: $size !important;
      }

      #{$value} : $size;
    }
  }
}

@mixin vw-convert-full($value, $size, $mode:'pc', $flag:'false') {
  @if ($mode=='pc') {
    @media (min-width: $breakpoints-mobile+'px') and (max-width: ($pc-full - 1+'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-full($size);
      }

      @else if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        @if($flag=='true') {
          #{$value}: vw-convert-pcfull($size) !important;
        }

        @else {
          #{$value}: vw-convert-pcfull($size);
        }
      }
    }

    @media (min-width: ($pc-full+'px')) {
      #{$value}: $size;
    }
  }
}

@mixin vw-convert1366($value, $size, $mode:'ta', $flag:'false') {
  @if ($mode=='mo') {
    @media (max-width: ($admin-mobile +'px')) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size($size);
      }

      @if(type-of($size)==string) {
        #{$value}: $size;
      }

      @else {
        #{$value}: vw-mo($size);
        // @if($flag==true){
        //   #{$value} : landscape($size, 'vw-mo180dp', $flag:true);
        // }
        // @else {
        //   #{$value} : landscape($size, 'vw-mo180dp', $flag);
        // }
      }
    }
  }

  //tablet
  @if ($mode=='ta') {
    @media (min-width: $admin-mobile + 1 + 'px') and (max-width: ($breakpoints-tablet +'px')) {
      @if ($value==background-size) {
        // #{$value} : red;
        #{$value}: vw-convert-bg-size1366($size);
      }

      @else {
        @if($flag==true) {
          #{$value}: vw-convert-ta1366($size) !important;
        }

        #{$value} : vw-convert-ta1366($size);
        // #{$value} : $size;
      }
    }

    //pc
    @media (min-width: ($breakpoints-tablet+'px')) {
      @if($flag==true) {
        #{$value}: $size !important;
      }

      #{$value} : $size;
    }
  }

  @if ($mode=='va') {
    @media (min-width: $admin-mobile +'px') and (max-width: ($breakpoints-tablet +'px')) and (orientation: portrait) {
      @if ($value==background-size) {
        #{$value}: vw-convert-bg-size-mo-admin($size);
      }

      @else {
        @if($flag==true) {
          #{$value}: vw-mo-admin($size) !important;
        }

        #{$value}: vw-mo($size);
      }
    }
  }
}


@mixin convert-m($value, $size, $type:mo) {
  @media (max-width: $breakpoints-mobile+'px') {
    #{$value}: $size;
  }
}

@function convertm2($target){
  $result:();
  $length:length($target);
  @if($length==1){
    @return $target*2px;
  }
  @else if($length==2){
    $result: append($result, nth($target, 1) * 2);
    $result: append($result, nth($target, 2) * 2);
    $result: append($result, nth($target, 1) * 2);
    $result: append($result, nth($target, 2) * 2);
    @return $result;
  }
  @else if($length==3){
    $result: append($result, nth($target, 1) * 2);
    $result: append($result, nth($target, 2) * 2);
    $result: append($result, nth($target, 1) * 2);
    $result: append($result, nth($target, 2) * 2);
    @return $result;
  }
  @else if($length==4){
    @for $i from 1 through 4 {
      $result: append($result, nth($target, $i) * 2);
    }
    @return $result;
  }
}
@mixin convert-m2($value, $size, $type:mo) {
  @media (max-width: $breakpoints-mobile+'px') {
    #{$value}: convertm2($size);
  }
}

//tablet min height control
@mixin min-height-ta($target, $pixel) {
  @media (max-width: ($viewport-tablet +'px')) and (orientation: portrait) {
    @include vw-convert($target, $pixel);
  }
}

// 태블릿 1024 세로
@mixin ver-ta-stat() {
  @media (min-width: $breakpoints-mobile +'px') and (max-width: ($viewport-tablet +'px')) and (orientation: portrait) {
    @content;
  }
}

// 태블릿 1366 세로
@mixin ver-ta-stat1366() {
  @media (min-width: $breakpoints-mobile+'px') and (max-width: ($breakpoints-tablet +'px')) and (orientation: portrait) {
    @content;
  }
}


// FIXME: 오직 태블릿만
@mixin only-tab() {
  @media (min-width: $breakpoints-mobile+'px') and (max-width: ('1280px')) {
    @content;
  }
}

@mixin vw-convert-mo($mode:'student') {

  // 관리자 페이지일 경우 admin
  @if ($mode=='admin') {
    @media (max-width: $admin-mobile+'px') {
      @content;
    }
  }

  @else {
    @media (max-width: $breakpoints-mobile+'px') {
      @content;
    }
  }
}

@mixin vw-convert-1366() {

  // @media (min-width : $breakpoints-tablet + 1 + 'px') {
  //   @content;
  // }
  @media (min-width: $admin-mobile+'px') and (max-width: $breakpoints-tablet+ 'px') {
    @content;
  }
}

// @function z-index($name){
//   @if map-has-key($layer, $name){
//     @return map-get($layer, $name);
//   }
//   @warn "The key #{$name} is not in the map ’$layer’";
//   @return null;
// }

/* ============================ */
/* =========== 기본 =========== */
/* ============================ */
@mixin clearfix() {
  &:after {
    display: block;
    clear: both;
    content: '';
  }
}

// 숫자가 아닌 스타일들 ex:모바일에선 display: none;
@mixin stat($target, $value, $mode : 'ta') {
  @if ($mode=='pc') {
    @media (min-width: ($viewport-tablet +'px')) and (orientation: landscape) {
      #{$target}: $value;
    }
  }

  @else if ($mode=='ta') {
    @media (min-width: $breakpoints-mobile+'px') and (max-width: ($viewport-tablet - 1+'px')) and (orientation: landscape) {
      #{$target}: $value;
    }
  }

  @else {
    @media (max-width: ($breakpoints-mobile +'px')) {
      #{$target}: $value;
    }
  }
}

// @function vw-convert-bg-size-mo($target){
@mixin vh-calc($height, $num1) {

  // $full : 100vh;
  // @if ($mode == 'pc'){
  @media (min-width: ($viewport-tablet +'px')) {
    // $count1 : vw-convert-ta($num1);
    // $count2 : ($count1 / 1vw) * 1px;
    $result:calc(100vh - #{$num1});
    #{$height}: $result;
    // }
  }

  // @else if ($mode == 'ta'){
  @media (min-width: $breakpoints-mobile+'px') and (max-width: ($viewport-tablet - 1+'px')) {
    // $count1 : vw-convert-ta($num1);
    // $count2 : ($count1 / 1vw) * 1px;
    // $result:calc(100vh - #{$count2});
    // $vh : (1024 * 0.01) * 1px;

    // $count1 : calc(100vh - 20.7vh);
    // #{$height} : ($num1 / $vh) * 1vh;
    $result:calc(100vh - #{$num1});
    #{$height}: $result;
  }

  // }
  // @else {
  @media (max-width: ($breakpoints-mobile+'px')) {
    // #{$height} : $result;
  }

  // }
  // @return $result;
}

// @mixin  media($target, $value) {
//   @media (min-width: ($viewport-tablet +'px')) {
//     #{$target} : $value;
//   }
//   @media (min-width: $breakpoints-mobile+'px') and (max-width: ($viewport-tablet - 1+'px')) {
//     #{$target} : $value;
//   }
//   @media (max-width: ($breakpoints-mobile +'px')) {
//     #{$target} : $value;
//   }
// }

/* == TODO: 이미지 관련 함수== */
// 이미지 백그라운드 랜덤 포지션
@mixin bg-position-random() {
  $x: random(100);
  $y: random(100);
  @content;
  background-position: #{$x}unquote('%') #{$y}unquote('%');
}

// 이미지 반복
@mixin img ($path, $file-name, $end-num:null, $extension: 'png') {
  @for $i from 1 through $end-num {
    &:nth-child(#{$i}) {
      .img {
        background:url('#{$path}#{$file-name}#{$i}.#{$extension}');
        @content;
      }
    }
  }
}

@mixin absolute-full($type:true) {
  @if($type==true) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }

  @if($type==remove) {
    position: static;
  }
  @if($type==img){
    position: absolute;
    top:-100%;
    left:-100%;
    right:-100%;
    bottom:-100%;
    margin:auto;
    @content;
  }
  @if($type==transform) {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

/* == 자식들 갯수에 맞춰 100% == */
/* == count 값엔 자식의 갯수 === */
@mixin childs-full($count) {
  @for $i from 1 through $count {
    width: percentage(1/$i);
  }
}

/* == 자동으로 숫자리스트넣어주기 == */
/* === number 값엔 카운트할 갯수 == */
@mixin auto-count($number, $start-number:1, $type:'pc') {
  &:before {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  @if ($type == 'pc') {
    @for $i from $start-number through $number {
      &:nth-child(#{$i}) {
        &:before {
          content:'#{$i}'
        }
      }
    }
    @content;
  }
  @if ($type == 'mo') {
    @for $i from $start-number through $number {
      &:nth-child(#{$i}) {
        &:before {
          @content;
        }
      }
    }
  }

  @if($start-number : 10) {
    // @for $start-number+1 from 1 through $number {
    //   &:nth-child(#{$i}) {
    //     &:before {
    //       content:'0#{$i}'
    //     }
    //   }
    // }
  }

  // }
  // @if ($toggle = 'off'){
  //   @for $i from 1 through $number {
  //     &:nth-child(#{$i}){
  //         &:before {
  //           background:none;
  //           content:none;
  //       }
  //     }
  //   }
  // }
}

// 01, 02, 03~
@mixin auto-count-zero($number) {
  &:before {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  @for $i from 1 through $number {
    &:nth-child(#{$i}) {
      &:before {
        content:'0#{$i}'
      }
    }
  }
}

@mixin auto-count-class($number, $class) {
  .#{$class} {
    &:before {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
  }

  @for $i from 1 through $number {
    &:nth-child(#{$i}) {
      .#{$class} {
        &:before {
          content:'#{$i}'
        }
      }
    }
  }
}

// TODO :백그라운드 이미지 포지션 랜덤
@mixin bg-position-random() {
  $x: random(100);
  $y: random(100);
  @content;
  background-position: #{$x}px #{$y}px;
}

// 말줄임
@mixin dotdotdot($type:dot) {
  @if($type==dot) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @content;
  }

  @if($type==remove) {
    white-space: normal;
    overflow: inherit;
    text-overflow: inherit;
    @content;
  }
}

@mixin multi-dotdotdot($font-size, $lines-to-show, $line-height:1.5) {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  // box-orient: vertical;
  -webkit-box-orient:vertical;
  -webkit-line-clamp: $lines-to-show;
  // display: box;
  // max-width: 400px;
  max-width:100%;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 말줄임 제거
// @mixin remove-dotdotdot(){
//   white-space: normal;
//   overflow: inherit;
//   text-overflow: inherit;
//   @content;
// }

// l-scroll-y
@mixin scroll-y() {
  @include vw-convert-mo() {
    overflow-y: hidden;
    overflow: auto;
    width: 100%;

    ul {
      overflow: hidden;
      width: max-content;
      white-space: nowrap;
    }
  }
}

// 버튼 클릭시 눌리는 효과
@mixin btn-click($pixel, $box-shadow) {
  box-shadow: 0 #{$pixel} 0 0 $box-shadow;
  transition: all 0.2s;

  // margin-bottom:6px;
  &:active {
    transform: translateY(4px);
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: 0px 2px 0 0 $box-shadow !important;
  }
}

// 버튼 클릭시 눌리는 효과 제거
@mixin remove-btn-click() {
  box-shadow: none;
  // box-shadow: $box-shadow;
  transition: none;
  @content;

  // margin-bottom:6px;
  &:active {
    transform: none;
    margin-bottom: 0;
    overflow: hidden;
    box-shadow: none !important;
  }
}

// 모바일 fixed 버튼
@mixin m-bottom-btn($number:1) {
  @include vw-convert-mo() {
    @if ($number==1) {
      width: 100%;
    }

    @if ($number==2) {
      a, button {
        width: 50% !important;
        min-width: auto !important;
      }
    }
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    margin-top: 0;
    margin:0;
    opacity: 1;
    border-radius: 0;
    z-index: 10;
    max-width:inherit!important;
    @content;
  }
}

// inline-block 세로 중앙정렬
@mixin vertical-center($mode:"before") {
  @if($mode=='before') {
    &:before {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: '';
    }
  }

  @if($mode=='after') {
    &:after {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: '';
    }
  }
}

@mixin select-bg {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  @content;
}

@mixin box-shadow ($pixel, $color, $type, $mode:"ta") {
  @if($mode=='ta') {
    $result: vw-convert-ta($pixel);

    @media (min-width: $breakpoints-mobile+'px') and (max-width: ($viewport-tablet - 1+'px')) {
      box-shadow: 0 $result 0 0 $color $type;
    }

    box-shadow: 0 $pixel 0 0 $color $type;
  }

  @if($mode=='mo') {
    @media (max-width: ($breakpoints-mobile+'px')) {
      $result: vw-mo($pixel);
      box-shadow: 0 $result 0 0 $color $type;
    }
  }
}

@mixin margin-auto() {
  margin-left: auto;
  margin-right: auto;
}

// 퍼센트 width 값\
$percent-type : (('vw-mo', 180dp),
  //  ('vw-')
);

@mixin percent($target, $number) {
  @media (max-width: ($breakpoints-mobile +'px')) {
    #{$target}: $number;
  }
}

@mixin text-shadow($pixel, $color) {
  text-shadow: -$pixel 0 $color,
  0 $pixel $color,
  $pixel 0 $color,
  #{0} -$pixel $color;
}

@mixin text-shadow2($pixel1, $pixel2, $color) {
  text-shadow: 
  -#{$pixel1} -#{$pixel1} #{$pixel2} $color,
  #{$pixel1} -#{$pixel1} #{$pixel2} $color,
  -#{$pixel1} #{$pixel1} #{$pixel2} $color,
  #{$pixel1} #{$pixel1} #{$pixel2} $color;
}

// 타이머 키프레임용 함수
// @mixin timer(총 시간, 분기, ){

// }

// 폰트
@mixin font($type:'hg') {
  @if ($type == 'hg'){
    font-family: 'HGSoftGGothicssi';
  }
  @if ($type =='jalnan'){
    font-family: 'jalnan';
  }
  @if ($type =='scd'){
    font-family: 'scd';
  }
  @if ($type == 'init') {
    font-family: 'Noto Sans KR';
  }
}

// FIXME: 키프레임
@mixin customKeyframe($name, $timer, $duration, $delay:0) {
  animation: $name $timer+s $duration;
  animation-play-state: running;
  animation-delay: $delay+s;
}

@keyframes clock {
  0% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(20deg);
  }
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(120px);
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes lprequest {
  0% {
    // opacity: 0;
    // transform: translateY(120px);
    bottom:-100%;
  }

  // 25% {
  //   opacity: 0;
  // }

  100% {
    // opacity: 1;
    // transform: translateY(0px);
    bottom:27px;
  }
}

@mixin text-animation($timer, $delay:0) {
  animation: textAnimation $timer+s both;
  -ms-animation: textAnimation $timer+s both;
  -webkit-animation: textAnimation $timer+s both;
  animation-play-state: running;
  animation-delay: $delay+s;
}


@keyframes currText {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 1;
  }

  9% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }
}

@keyframes junior-currText {
  0% {
    opacity: 0;
  }

  3% {
    opacity: 1;
  }

  23% {
    opacity: 1;
  }

  26% {
    opacity: 0;
  }
}

@keyframes currText-child {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

// 반복적인 키프레임
// startnum ~ endnum 까지, keyframe name,
@mixin ordered-keyframe($startnum, $endnum, $name, $duration...) {
  @for $startnum from $startnum through $endnum {
    $name1: $name;

    @keyframes currDot#{$name} {}
  }
}

@keyframes testSelect {
  0% {
    // @include vw-convert1366(font-size, 16px);
    font-size: 16px;
    color: #7f7f7f;
    @include vw-convert-1366(){
      font-size:14px;
    }
  }

  2% {
    // @include vw-convert1366(font-size, 20px);
    font-size: 18px;
    color: #4c4c4c;
    font-weight: 500;
    @include vw-convert-1366(){
      font-size:16px;
    }
  }

  10% {
    // @include vw-convert1366(font-size, 20px);
    font-size: 18px;
    color: #4c4c4c;
    font-weight: 500;
    @include vw-convert-1366(){
      font-size:16px;
    }
  }

  12% {
    // @include vw-convert1366(font-size, 16px);
    font-size: 16px;
    color: #7f7f7f;
    @include vw-convert-1366(){
      font-size:14px;
    }
  }

  100% {}
}

@keyframes junior-testSelect {
  0% {
    // @include vw-convert1366(font-size, 16px);
    opacity: 0.6;
    color: #7f7f7f;
  }

  3% {
    // @include vw-convert1366(font-size, 20px);
    color: #4c4c4c;
    font-weight: 500;
    opacity: 1;
  }

  23% {
    // @include vw-convert1366(font-size, 20px);
    color: #4c4c4c;
    font-weight: 500;
    opacity: 1;
  }

  26% {
    // @include vw-convert1366(font-size, 16px);
    opacity: 0.6;
    color: #7f7f7f;
  }
}


$color-pack : (
  1: #e95241,
  2: #f86822,
  3: #faa807,
  4: #f9c21d,
  5: #b8cc37,
  6: #95c14e,
  7: #30a164,
  8: #00ada3,
  9: #00b9cb,
  10: #289fc6,
  11: #f7f8f8
);
$junior-color-pack : (
  1: #289fc6,
  2: #00ADA3,
  3: #00B9CB,
  4: #f7f8f8
);
$currLine-color : (
  1: #95c14e,
  2: #30a164,
  3: #00ada3,
  4: #00b9cb,
  5: #289fc6,
  6: #e95241,
  7: #f86822,
  8: #faa807,
  9: #f9c21d,
  10: #b8cc37,
  11: #95c14e
);
@for $i from 1 through 10 {
  @keyframes currDot#{$i} {
    0% {
        opacity: 1;
        background: map-get($color-pack, $i);
        width:5px;
        height:5px;
    }
    2% {
        background: map-get($color-pack, $i);
        width:50px;
        height:50px;
    }
    5% {
      opacity: 0;
      background: map-get($color-pack, 11);
    }
    100% {}
  }
  @keyframes currDot#{$i}-m {
    0% {
        opacity: 1;
        background: map-get($color-pack, $i);
        width:5px;
        height:5px;
    }
    2% {
        background: map-get($color-pack, $i);
        width:30px;
        height:30px;
    }
    5% {
      opacity: 0;
      background: map-get($color-pack, 11);
    }
    100% {}
  }
  @keyframes junior-currDot#{$i} {
    0% {
      opacity: 1;
      background: map-get($junior-color-pack, $i);
      width: 5px;
      height: 5px;
    }
    10% {
      background: map-get($junior-color-pack, $i);
      width: 50px;
      height: 50px;
    }
    12% {
      background: map-get($junior-color-pack, $i);
      width: 50px;
      height: 50px;
    }
    20% {
      opacity: 0;
      background: map-get($junior-color-pack, 11);
      width:5px;
      height:5px;
    }
    100% {}
  }
  @keyframes junior-currDot#{$i}-m {
    0% {
      opacity: 1;
      background: map-get($junior-color-pack, #{$i});
      width: 5px;
      height: 5px;
    }
    10% {
      background: map-get($junior-color-pack, #{$i});
      width: 30px;
      height: 30px;
    }
    12% {
      background: map-get($junior-color-pack, #{$i});
      width: 30px;
      height: 30px;
    }
    20% {
      opacity: 0;
      background: map-get($junior-color-pack, 11);
    }
  }
  @keyframes currLine#{$i} {
    0% {
      background: linear-gradient(to left, map-get($currLine-color, $i) 100%, map-get($currLine-color, $i+1) 0%);
      right: 0%;
      left: 100%;
      height: 5px;
    }
    5% {
      background: linear-gradient(to left, map-get($currLine-color, $i) 0%, map-get($currLine-color, $i+1) 100%);
      right: 0%;
      left: 0%;
    }
    // 없어짐
    10% {
      right: 0%;
      left: 0%;
    }
    15% {
      right: 100%;
      left: 0%;
    }
    20% {
      visibility: hidden;
    }
    100% {
      visibility: hidden;
      display: none;
    }
  }
}
@mixin currDot ($max-num, $type:'pc'){
  @for $i from 1 through $max-num {
    &:nth-child(#{$i}){
      background:map-get($color-pack, $i);
      &:after {
        content:'';
        @if($type=='pc') {
          animation: currDot#{$i} 30s linear infinite;
        }
        @if($type=='mo') {
          animation: currDot#{$i}-m 30s linear infinite;
        }
        animation-delay: ($i - 1)*3s;
      }
    }
  }
}
@mixin junior-currDot ($max-num, $type:'pc'){
  @for $i from 1 through $max-num {
      &:nth-child(#{$i}){
        background: map-get($junior-color-pack, $i);
        &:after {
          background: map-get($junior-color-pack, $i);
          // background:red;
          content:'';
          @if($type=='pc') {
            animation: junior-currDot#{$i} 9s linear infinite;
          }
          @if($type=='mo') {
            animation: junior-currDot#{$i}-m 9s linear infinite;
          }
          animation-delay: ($i - 1)*3s;
        }
      }
  }
}
@mixin currLine ($max-num, $type:'pc'){
  @for $i from 1 through $max-num {
    &:nth-child(#{$i}){
      span {
        @if($type=='pc') {
          animation: currLine#{$i} 30s ease infinite;
        }
        @if($type=='mo') {
          animation: currLine#{$i}-m 30s ease infinite;
        }
        @if ($i <= 5){
          // content:18+(($i - 1) *3);
          animation-delay: 18+(($i - 1) *3)+s;
        }
        @if ($i > 5){
          // content:(($i - 5)*3);
          animation-delay: (($i - 5)*3)+s;
        }
      }
    }
  }
}

// 랜덤 이미지 테스트
$random-bg : (
  'num1': #ff0000,
  'num2' : #ff8c00,
  'num3' : #ffff00,
  'num4' : #008000,
  'num5' : #0000ff,
  'num6' : #4b0082,
  'num7' : #800080
);

// 밑줄 높이, 밑줄 색상
@mixin text-underline ($height, $background) {
  background-image: linear-gradient(transparent (100 - $height / 1%)* 1%, $background $height);
  @content;
}
@mixin bg($type:'contain'){
  @content;
  background-position: center;
  background-repeat: no-repeat;
  @if ($type == 'contain') {
    background-size:contain;
  }
  @if ($type == 'cover') {
    background-size:cover;
  }
  @if ($type == 'none') {
    background-size:initial;
  }
}
