@function svgIcon($color) {
  $color: '%23' + $color;
  $icon: "data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.74813 15.4882C9.80205 15.5177 9.86259 15.5312 9.92326 15.5272C9.98393 15.5233 10.0424 15.5021 10.0925 15.4658L14.4259 12.3157C14.4702 12.2835 14.5064 12.2405 14.5314 12.1904C14.5564 12.1402 14.5695 12.0845 14.5695 12.028C14.5695 11.9714 14.5564 11.9157 14.5314 11.8656C14.5064 11.8155 14.4702 11.7725 14.4259 11.7402L10.0925 8.59008C10.0425 8.55374 9.98394 8.53247 9.92324 8.52855C9.86254 8.52464 9.80197 8.53823 9.7481 8.56787C9.69423 8.5975 9.64911 8.64204 9.61762 8.69667C9.58613 8.7513 9.56947 8.81394 9.56945 8.87779V15.1781C9.56944 15.242 9.58609 15.3047 9.61758 15.3594C9.64908 15.414 9.69423 15.4586 9.74813 15.4882Z' fill='#{$color}'/%3E%3C/svg%3E%0A";
  @return url($icon);
}

@mixin svgimg($color) {
  width: 24px;
  height: 24px;
  background: svgIcon($color) no-repeat center;
  background-size: contain;
}

 @include svgimg(929292); 



ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
$map-icon : (
  fillarrow : "%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7062 13.6819C11.8645 13.8534 12.1355 13.8534 12.2938 13.6819L14.8439 10.9214C15.0805 10.6652 14.8988 10.25 14.55 10.25H9.44995C9.10118 10.25 8.91947 10.6652 9.15613 10.9214L11.7062 13.6819Z' fill='%2341424A'/%3E%3C/svg%3E%0A"
);

// TODO: svg 컴포넌트 제작하기
@function icon($iconName, $color: 555555) {
  $icon: map-get($map-icon, $iconName);
  @r


// scss에서의 svg 색상만 바꾸는 코드 
// svg 를 data:image 로 바꿔주는 사이트 https://yoksel.github.io/url-encoder/
